$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

.container-fluid-paginas {
    padding-top: 35px;
    padding-bottom: 35px;
    vertical-align: middle;
    background-color: #e6e7e7;
    text-align: center;

}