.botones{
 margin-left: 80px;
 border-radius: 20px;
}
.botones-pagina {
    height: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #707070;
   }

.naomi-rrss:hover{
    color: #6c6e70;
}
.naomi-rrss:active {
   color: #e6e7e7;
}