.naomi-thai {
    width:180px;
    height:180px;
    border-radius:90px;
    vertical-align: middle;
    align-items: center;
}
.naomi-logo {
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.naomi-logo:hover {
    color:black;
}
.naomi-rrss {
    text-align: center;
    font-size: 100;
    color: #ecbcba;
}

.naomi-bio{
    width: 700px;
    height: 30px;
    font-weight: 100;
    line-height :35px;

}
.container-noami {
    vertical-align: middle;
    padding-left: 80px;
    margin-bottom: 200px;
    display: inline-block;
}

.logo-footer{
    width: 80px;
    align-self: center;
}
.footer {
    background-color: black;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    padding-top: 35px;
    padding-bottom: 35px;
}