.logo-navbar {
    width: 78px;
    height: 46px;
    margin-left: 150px;
}
.navbar {
    font-weight: 100;
}
.texto {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 80px;
    margin-right: 80px;
    line-height : 40px;
    font-weight: 100;
}
